Options -Indexes
<FilesMatch "\.(ttf|otf|eot|woff|woff2)$">
    <IfModule mod_headers.c>
        Header set Access-Control-Allow-Origin "http://wendys.co.id"
    </IfModule>
</FilesMatch>
RewriteOptions inherit
RewriteEngine on
RewriteCond $1 !^(index\.php|public|\.txt)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?$1
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^academy\.wendys\.co\.id$ "http\:\/\/139\.255\.48\.179\/" [R=301,L]

